<header>
    <h1><a href="/">LARICA</a></h1>
  <nav class="navbar">
    <% if (user) { %>
      <a href="/"><h5>Home</h5></a>
      <a href="/products"><h5>Products</h5></a>
      <a href="/cart"><h5>Cart</h5></a>
      <a href="/logout"><h5>Log Out</h5></a>
      <a href="/admin/products"><h5>Admin</h5></a>
    <% } else { %>
      <a href="/login"><h5>Log In</h5></a>
    <% } %>
  </nav>
</header>
